# Ignore all files without extension (executables like BubbleSort)
*

# Allow folders
!*/

# Allow source code
!*.c++
!*.cpp

# Allow images
!*.png

# Allow markdown
!*.md

# Allow gitignore itself
!.gitignore